---
import Title from '../components/atoms/title.astro';
import Base from '../layouts/base.astro';
import Screen from '../components/structure/screen.astro';
import NavBar, { type Item } from '../components/navigation/navbar.astro';

const title = "zo — Initiation.";

const items = [
	{ href: "initiation", label: "Initiation" }
] as Item[];
---

<Base title={title}>
	<NavBar items={items} />
	<Screen>
		<Title as="h1">Initiation</Title>
		<!-- get started -->
	</Screen>
</Base>
