---
interface Props {
  class?: string;
  content: string;
}

const { class: className, content } = Astro.props;
---

<p class={className} set:html={content}></p>

<style>
  p {
    white-space: pre-line;
  }

  @media (min-width: 768px) {
    p {
      font-size: 1.25vw;
    }
  }
</style>
