---
interface Props {
  value: number | string;
  label: string;
  class?: string;
}

const { value, label, class: className } = Astro.props;
---

<div class:list={["badge", className]}>
  <span class="badge-value" data-value={value} />
  <span class="badge-label">{label}</span>
</div>

<style>
  .badge {
    display: flex;
    flex-direction: column;

    .badge-value {
      color: var(--color-green-100);
      font-size: 2.5rem;
      font-weight: 700;
      font-family: var(--font-cirka);
    }

    .badge-label {
      text-transform: capitalize;
    }
  }

</style>
