---
export type TableItem = {};

interface Props {
  categories: string[],
  items: TableItem[],
}

const { categories, items } = Astro.props;
---

<table class="table">
  <thead>
    <tr>
    {
      categories.map((category) => {})
    }
    </tr>
  </thead>
  <tbody>
    {
      items.map((item) => {})
    }
  </tbody>
</table>
