*, *:before, *:after {
  color: #ffffff;
}

html, body {
  padding:0;
}

body {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
}

.theme-dark {
  background-color: #000000;
  color: #ffffff;
}

.theme-light {
  background-color: #ffffff;
  color: #000000;
}
