---
import { textTransform } from "../../core/effects/text-transform";
import * as m from "../../paraglide/messages";
import Paragraph from "../atoms/paragraph.astro";
import Title from "../atoms/title.astro";
---

<section data-section="community" class="community">
  <Title class="community-title" as="h2">{m.community_title()}</Title>
  <Paragraph content={textTransform(m.community_description())} />
  <!-- could be nice to display a visual thing to s/o contributors. -->
</section>

<style>
  .community {}
</style>
