---
import Title from "../atoms/title.astro";
import Editor from '../interactive/editor.astro';

const code = "curl --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/invisageable/zo/main/tasks/zo-install.sh | sh";
---

<section data-section="installation">
  <Title class="installation-title" as="h2">## installation</Title>
  <Editor
    code={code}
    class="editor contact"
    highlight={false}
  />
</section>

<style>
  .installation {}
</style>
