---
import Title from "../atoms/title.astro";
import Paragraph from "../atoms/paragraph.astro";
import { textTransform } from "../../core/effects/text-transform";

const MANIFESTO = `
  zo is a compiler of a compiler inside another giant compiler that is itself inside a gigantic compiler.

  The aim of the project is to enhance the developer experience, making it seamless to build software that reflects your <b class='green-100'>creativity</b>. We focus on details that matter, opening new dimensions in the software universe where transforming your thoughts into programs is not just easy, but enjoyable.

  zo is a complete ecosystem that gives you the keys. You finally have <b class='green-100'>control</b> over your workstation. You'll never have to work blind again. Our tools provide all the information you need for your program, from design to delivery.

  We are against abundant software <b class='green-100'>uniformity</b>. zo unifies the <b class='green-100'>web</b> and the <b class='green-100'>GPU</b> — not by forcing the web into a canvas, but by harmonizing Flexbox layouts with raw GPU power. We will do everything we can to push the boundaries of innovation to the limit.

  <b class="green-100">Join the devolution</b>.
`;
---

<section data-section="manifesto" class="manifesto">
  <Title as="h2">## manifesto</Title>
  <Paragraph class="paragraph" content={textTransform(MANIFESTO)} />
</section>

<style>
  .manifesto {}
</style>
