---
import { textTransform } from "../../core/effects/text-transform";
import { type Quote } from "../../core/quote";
import Paragraph from "../atoms/paragraph.astro";
import Citation from "../atoms/citation.astro";
import Title from "../atoms/title.astro";

const description = "Creative developers shouldn't have to choose between writing <b class='green-100'>simple UI code</b> and getting <b class='green-100'>high performance</b>. APIs are disjointed, tools are overly complex, and the development loop is too slow. We built zo to be the <b class='green-100'>glue</b> — a single, intuitive language that lets you turn your creative thoughts into robust, cross-platform software <b class='green-100'>instantly</b>.";
const quote: Quote = {
  sentence: "Why accept slow compilers? Just make them faster.",
  author: "Jonathan Blow",
};
---

<section data-section="purpose" class="purpose">
  <Title as="h2">## purpose</Title>
  <Paragraph content={textTransform(description)} />
  <Citation sentence={quote.sentence} author={quote.author} />
</section>

