---
import { textTransform } from "../../core/effects/text-transform";
import * as m from "../../paraglide/messages";
import Paragraph from "../atoms/paragraph.astro";
import Citation from "../atoms/citation.astro";
import Title from "../atoms/title.astro";
---

<section data-section="purpose" class="purpose">
  <Title as="h2">{m.purpose_title()}</Title>
  <Paragraph content={textTransform(m.purpose_description())} />
  <Citation sentence={m.purpose_quote_sentence()} author="Jonathan Blow" />
</section>

