---
import { textTransform } from "../../core/effects/text-transform";
import * as m from "../../paraglide/messages";
import Title from "../atoms/title.astro";
import Paragraph from "../atoms/paragraph.astro";
---

<section data-section="sponsors" class="sponsors">
  <Title class="sponsors-title" as="h2">{m.sponsors_title()}</Title>
  <Paragraph content={textTransform(m.sponsors_content())} />
</section>

<style>
  .sponsors {}
</style>
