---
import { textTransform } from "../../core/effects/text-transform";
import Title from "../atoms/title.astro";
import Card from "./card.astro";

const TOOLS = [
  {
    name: "codelord",
    description: "Code your thoughts instantly with an next-gen text editor.",
    image: "https://github.com/invisageable/codelord/raw/main/apps/coder/codelord-notes/public/assets/codelord-motion-preview-welcome.gif",
    link: "https://github.com/invisageable/codelord",
  },
  {
    name: "fret",
    description: "the package manager for the zo programming language.",
    link: "https://github.com/invisageable/zo/blob/main/crates/packager/fret",
  },
];
---

<!-- gallery to expose: codelord, fret, zo-vscode -->

<section data-section="tools" class="tools">
  <Title as="h2">## tools</Title>
  <div class="tools-gallery">
    {
      TOOLS.map((tool) => <a target="_blank" href={tool.link}>
        <Card
          class="tools-gallery-item"
          title={tool.name}
          content={textTransform(tool.description)}
          image={tool.image}
        />
      </a>)
    }
  </div>  
</section>

<style>
  .tools {
    .tools-gallery {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 20px;
      align-items: stretch;

      :global(.tools-gallery-item) {
        padding: 1rem;

        :global(&.card .card-title) {
          font-size: 4.25vw;
        }

        :global(&.card .card-content) {
          color: var(--color-white-100);
          font-size: 4.25vw;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .tools {
      .tools-gallery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }
</style>
