---
import Title from "../atoms/title.astro";
---

<section data-section="repl" class="repl">
  <Title as="h2"># repl</Title>
  <!-- 
    for now, we skip the repl via wasm due to compiler features not
    supported by wasm...
  -->
</section>

<style>
  .repl {}
</style>
